.td{
    text-align: center;
    padding: 20px 0 18px;
}th, td{
    border-color: #dee2e6 !important;
    border-color: #dee2e6 !important;
    text-align: center !important;
    border-style: solid !important;
    border-width: 1px !important;
}
